.search_container{
    display: flex;
    justify-content: center;
    padding:50px 0;
}
.MuiTextField-root{
    background-color: rgba(189, 195, 199, 0.7);
    border-radius: 4px;
    width:500px;
}


